// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$hamburger-padding-x           : 10px;
  $hamburger-padding-y           : 10px;
  $hamburger-layer-width         : 25px ;
  $hamburger-layer-height        : 2px ;
  $hamburger-layer-spacing       : 8px ;
  $hamburger-layer-color         : rgb(171, 171, 171);
  $hamburger-active-layer-color  : rgb(171, 171, 171);


