
.menu{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 1);
    animation:fadeIn 1s;
    z-index: 99;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    $inner_max-width: 750px;
    color:rgba(255, 255, 255, 0.555);
    h6{
        font-size: 14px;
        padding-left: .5rem;
        margin-top: 20px;
    }
    .input-block{
        width: 100%;
        cursor: pointer;
        max-width: $inner_max-width;
        position: relative;
        display: flex;
        align-items: center;
        left: 0;
        right: 0;
        margin:0 auto;
        height: 50px;
        .inner{
            flex:1;
            padding:0 10px;
            border-radius: 10px;
            border:1px solid rgba(255, 255, 255, 0.555);
            position: relative;
            transition:none;
            height: 100%;
            cursor: pointer;
            input{
                cursor: pointer;
                position: relative;
                z-index: 99;
                background-color: transparent;
                border:none;
                width: 100%;
                height: 100%;
                font-size: 20px;
                opacity: 0;
            }
            .text{
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 10px;
                pointer-events: none;
                span{
                    font-size: 15px;
                    color:#eee;
                }
            }
        }
        .folder-btn{
            position: absolute;
            right: 20px;
            top: 50%;
            transform:translateY(-50%);
            width: 30px;
            pointer-events: none;
            img{
                width: 100%;
                opacity: .5;
            }
        }
        .upload-btn{

        }
        .error-msg{
            flex:none;
            display: none;
            span{

            }
        }
        

    }
    .list-wrapper{
        max-width: $inner_max-width;
        box-sizing: border-box;
        position: relative;
        text-align: right;
        left: 0;
        right: 0;
        margin: 0 auto;
        margin-top: 0px;
        // height: calc(100% - 180px);

        .list{
            text-align: left;
            overflow: auto;
            width: 100%;
            // max-height: calc(100% - 40px);
            @media screen and (max-width:1024px){
                border:none;
            }
            @import 'scrollbar';
            .item{

                height: 50px;
                border: 1px solid #eee;
                border-radius: 10px;
                &.disable{
                    opacity: .3;
                    background-color: rgb(189, 189, 189);
                    
                    a{
                        cursor:not-allowed;
                        span{
                            color:grey;
                        }
                    }
                    
                }
                +.item{
                    margin-top: 30px;
                }
                a{  
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;
                    padding-left: 10px;
                    padding-right: 10px;
                    
                    span{
                        color:rgba(255, 255, 255, 0.612);
                        font-size: 12px;
                        
                    }
                }
            }
        }
        // .clear-btn{
        //     display: inline-block;
        //     position: relative;

        //     background-color: rgba(106, 106, 106, 0.42);
        //     transition:.5s;
        //     padding: 10px;
        //     border-radius: 5px;
        //     &:hover{
        //         background-color: rgba(106, 106, 106, 0.81);
        //     }    
        //     @media screen and (max-width:1024px){
        //         position: fixed;
        //         width: 100%;
        //         left: 0;
        //         bottom: 0;
        //         border-radius: 0;
        //         text-align: center;
        //     }
        //     &:hover{
        //         text-decoration: none;
        //         span{
        //             text-decoration: none;
        //         }
        //     }
        //     span{
        //         color:white;
        //     }
        // }
    }
}