#player { 
    height: 100%;
    .fx-wrapper{
        height: 100%;
        &.blur{
            filter:blur(3px);
        }
    }
    
	.screen { 
        height: 100%;
        background-color: rgb(84, 84, 84);
	}

	.controller-panel { 
        position: fixed;
        width: 100%;
        bottom: 0;
		.playtrack { 
            padding-left: 20px;
            padding-right: 0px;
            height: 50px;
            display: flex;
            align-items: center;
			.controller { 
                flex:none;
                font-size: 0;
                .controller_btn{
                    +.controller_btn{
                        margin-left: 10px;
                    }
                }
				.btn_play { 
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    border-style: solid;
                    transition: 1s border-color;
                    border-width: 9px 0 9px 18px;
                    border-color: transparent transparent transparent #ffffff;
                    &::after{
                        content: '';
                        display: block;
                        border-color:transparent;
                    }
                    &.pause{
                        border-width:0 0 0 0;
                        border-color:transparent;
                        position: relative;
                        
                        &::after{
                            position: absolute;
                            transition: 1s border-color;
                            left: 0;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 15px;
                            height: 100%;
                            border-left: 5px solid #fff;
                            border-right: 5px solid #fff;
                            border-color:#fff;
                        }
                    }
                }
			}
            .track-wrapper{
                flex:1;
                padding-left: 20px;
                padding-right: 20px;
                height: 5px;
                .track { 
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.3);
                    position: relative;
                    .track-btn{
                        position: absolute;
                        top: 50%;
                        transform:translateY(-50%);
                        width: 20px;
                        height: 20px;
                        background-color: #fff;
                        border-radius: 50%;
                    }
                    .track-inner { 
                        height: 100%;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 30px;
                        background-color: rgba(255, 255, 255, 1);
                    }
                }
            }
            .frame-indicator{
                flex:none;
                padding-right: 20px;
                span{
                    font-size: 20px;
                    color:rgba(255, 255, 255, 0.3);
                }
            }
			
		}

		.screen-background { 

        }
        .credit{
            padding:5px;
            padding-right: 20px;
            width: 100%;
            text-align: right;
            border-top: 1px solid rgba(255, 255, 255, 0.25);
            span{
                color: rgba(255, 255, 255, 0.166);
                font-size: 12px;
            }
        }
    }
   
}